{
    "presets": ["next/babel"],
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["."],
                "alias": {
                    "@": "."
                }
            }
        ],
        ["inline-react-svg"],
        ["styled-components", { "ssr": true, "displayName": false }]
    ],
    "env": {
        "development": {
            "plugins": [
                ["styled-components", { "ssr": true, "displayName": true }]
            ]
        }
    }
}
